// ant-spin ant-spin-sm
// ant-spin
// ant-spin ant-spin-lg

@mixin size-sm {
  --ball-size: 5px;
  --ball-shadow: 1px;
  --ball-shadow—h: 2px;
  --ball-translate-x: -10px;
  --ball-translate-y: -13.5px;
}

@mixin size-lg {
  --ball-size: 18px;
  --ball-shadow: 4.25px;
  --ball-shadow—h: 5.5px;
  --ball-translate-x: -80px;
  --ball-translate-y: -90.5px;
}

@mixin size-df {
  --ball-size: 12px;
  --ball-shadow: 4.25px;
  --ball-shadow—h: 5.5px;
  --ball-translate-x: -50px;
  --ball-translate-y: -60.5px;
  --ball-sacle: 0.85;
}

.ant-spin {
  &.ant-spin-sm {
    :local(.LoadingIndicatorCircusBall) {
      @include size-sm();
    }
  }

  &.ant-spin-lg {
    :local(.LoadingIndicatorCircusBall) {
      @include size-lg();
    }
  }

  @include size-df();
}

:local(.LoadingIndicatorCircusBall) {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-content: end;
  height: calc((var(--ball-translate-y) * -1) + var(--ball-size));
  width: calc((var(--ball-translate-x) * -1) + var(--ball-size));
  margin: var(--ball-size);

  &.small {
    @include size-sm();
  }

  &.large {
    @include size-lg();
  }

  @include size-df();

  #contain {
    height: var(--ball-size);
    width: calc(var(--ball-translate-x) * -1);
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
    transform: translateX(calc(100% - (var(--ball-size))));
  }

  .wrap {
    animation: translateX 1000ms infinite ease-in-out alternate;
    position: absolute;
  }

  .ball {
    width: var(--ball-size);
    height: var(--ball-size);
    box-shadow: var(--ball-shadow) var(--ball-shadow) 0 rgba(0, 0, 0, 0.1) inset;
    background-color: #397BF9;
    border-radius: 50%;
    animation: translateY 500ms infinite ease-in-out alternate;
  }

  .wrap:after {
    content: '';
    width: var(--ball-size);
    height: var(--ball-shadow—h);
    background: #eee;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    animation: scale 500ms infinite ease-in-out alternate;
  }

  #wrap2,
  #ball2,
  #wrap2:after {
    animation-delay: -400ms;
  }

  #wrap3,
  #ball3,
  #wrap3:after {
    animation-delay: -800ms;
  }

  #wrap4,
  #ball4,
  #wrap4:after {
    animation-delay: -1200ms;
  }

  #wrap5,
  #ball5,
  #wrap5:after {
    animation-delay: -1600ms;
  }

  #ball2 {
    background-color: #F4B400;
  }

  #ball3 {
    background-color: #EEEEEE;
  }

  #ball4 {
    background-color: #00A656;
  }

  #ball5 {
    background-color: #E3746B;
  }

  @keyframes translateX {
    100% {
      transform: translateX(var(--ball-translate-x));
    }
  }

  @keyframes translateY {
    100% {
      transform: translateY(var(--ball-translate-y));
    }
  }

  @keyframes scale {
    100% {
      transform: scale(var(--ball-sacle));
    }
  }

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }

}
